In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire_mall as acq

In [7]:
df_total = acq.get_mall_data()
df_total.sample(20)

     customer_id  gender  age  annual_income  spending_score
172          173    Male   36             87              10
16            17  Female   35             21              35
118          119  Female   51             67              43
115          116  Female   19             65              50
132          133  Female   25             72              34
17            18    Male   20             21              66
79            80  Female   49             54              42
62            63  Female   67             47              52
56            57  Female   51             44              50
121          122  Female   38             67              40
90            91  Female   68             59              55
164          165    Male   50             85              26
25            26    Male   29             28              82
194          195  Female   47            120              16
104          105    Male   49             62              56
110          111    Male   65             63              52
9             10  Female   30             19              72
108          109    Male   68             63              43
19            20  Female   35             23              98
31            32  Female   21             30              73

In [4]:
acq.write_mall_csv(acq.get_mall_data())